// Variables

$primary: #FD136C;
$dark: #000;
$light: #fff;
$creamberry: #FFDBD4;
$brown-khaki: #2C2209;
$ripe-as-peach: #951600;
$hot-pink: #FD136C;
$lambs-ear: #99A3A4;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: $light;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;

$navbar-sm-background-color: $brown-khaki;
/*$navbar-sm-background-color: $navbar-lg-collapse-background-color;*/

$social-buttons-color: $primary;
